extends ../layout

mixin project_item(href, number, title, year, category, music)
    article
        .wrapper_work
            a.proj_link(href=href target="_blank")
            .proj_wrapper
              .info_main
                span.main_number= number
                h2.main_title= title
              .info_link
                  .info_link_wrapper
                    span.link_year= year
                    span.link_project
                      span.project_view View Project
                      span.project_arrow Go To Project
              .info_detail
                h1.detail_title= title
                .detail_wrapper
                    .detail_category
                      .top Category
                      .bot= category
                    .detail_music
                      .top Music
                      .bot= music

mixin project_item_reverse(href, number, title, year, category, music)
    article
        .wrapper_work
            a.proj_link(href=href target="_blank")
            .proj_wrapper
              .info_main
                h2.main_title= title
                span.main_number= number
              .info_link
                  .info_link_wrapper
                    span.link_year= year
                    span.link_project
                      span.project_arrow Go To Project
                      span.project_view View Project
              .info_detail
                .detail_wrapper
                    .detail_category
                      .top Category
                      .bot= category
                    .detail_music
                      .top Music
                      .bot= music
                h1.detail_title= title
      
block head
    meta(name="keywords" content="freestyle basketball soaring balls syndicate works ballride style choreography ballriders movie video Vaggi примеры работ хореография мяч Вагги промо баскетбольный фристайл выступление шоу видео Вагги")
    meta(name="description" content="Watch videos from Soaring Balls Syndicate. Ballriders Movie. Vaggi | Ballride Style Choreographer.")
    link(rel="stylesheet", href="/stylesheets/soaring_balls_syndicate/works.css")
    
block main
    include ../topside_menu.jade
    a(href="/Soaring_Balls_Syndicate#works")
        .go_back
    section#works
        .video_wrapper
          video#hands(autoplay loop )
            source(src="../../images/hands_new.webm" type="video/webm")
            source(src="../../images/hands_new.mov" type="video/mp4")
        #left.menu_div
          h3.menu_div_title Collaborations
        #right.menu_div
          h3.menu_div_title Choreographies
        .works_wrapper
            .project_list
                .project_list_collab
                    .wrapper
                        .title.text_right
                            h1.project_list_title Selected Collaborations
                            span.under_title_text - project list
                    +project_item_reverse('https://vimeo.com/167247232','.02','Vaggi | Ballride Style','Y - 2016', 'Promo', 'DJ VAG / Zion')
                    +project_item_reverse('https://www.youtube.com/watch?v=bXE4w9ZjNuU','.01','Tutorial for IamballerTV','Y - 2014', 'tutorial', '-')
                .project_list_choreo
                    .wrapper
                        .title
                            h1.project_list_title Selected Choreographies
                            span.under_title_text - project list
                    article
                        .wrapper_work
                            a.proj_link()
                            .proj_wrapper
                              .info_main
                                span.main_number 04
                                h2.main_title Delay Kak Nado
                              .info_link
                                  .info_link_wrapper
                                    span.link_year Y - 2016
                                    span.link_project
                                      span.project_view View Project
                                      span.project_arrow Go To Project
                              .info_detail
                                h1.detail_title Delay Kak Nado
                                .detail_wrapper
                                    .detail_category
                                      .top Category
                                      .bot Coming Soon
                                    .detail_music
                                      .top Music
                                      .bot Kizaru
                    +project_item('https://vimeo.com/111230188','.03','Vse Moi Parni','Y - 2014', 'Choreo', 'Kizaru')
                    +project_item('https://vimeo.com/101261220','.02','Ne Lez Na Ugol','Y - 2014', 'Choreo', 'Kizaru')
                    +project_item('https://vimeo.com/98450544','.01','Ne Ostavlyayut Palcev','Y - 2014', 'Choreo', 'Kizaru')
                    
block js
    script(src="/javascripts/works.js")