extends ../layout

mixin project_item(href, number, title, year, category, music)
    article
        .wrapper_work
            a.proj_link(href=href target="_blank")
            .proj_wrapper
              .info_main
                span.main_number= number
                h2.main_title= title
              .info_link
                  .info_link_wrapper
                    span.link_year= year
                    span.link_project
                      span.project_view View Project
                      span.project_arrow Go To Project
              .info_detail
                h1.detail_title= title
                .detail_wrapper
                    .detail_category
                      .top Category
                      .bot= category
                    .detail_music
                      .top Music
                      .bot= music

mixin project_item_reverse(href, number, title, year, category, music)
    article
        .wrapper_work
            a.proj_link(href=href target="_blank")
            .proj_wrapper
              .info_main
                h2.main_title= title
                span.main_number= number
              .info_link
                  .info_link_wrapper
                    span.link_year= year
                    span.link_project
                      span.project_arrow Go To Project
                      span.project_view View Project
              .info_detail
                .detail_wrapper
                    .detail_category
                      .top Category
                      .bot= category
                    .detail_music
                      .top Music
                      .bot= music
                h1.detail_title= title
      
block head
    link(rel="stylesheet", href="/stylesheets/soaring_balls_syndicate/works.css")
    
block main
    include ../topside_menu.jade
    a(href="/Soaring_Balls_Syndicate#works")
        .go_back
    section#works
        .video_wrapper
          video#hands(autoplay loop )
            source(src="../../images/hands_new_new.mov" type="video/mp4")
        #left.menu_div
          h3.menu_div_title Collaborations
        #right.menu_div
          h3.menu_div_title Choreographies
        .works_wrapper
            .project_list
                .project_list_collab
                    .wrapper
                        .title.text_right
                            h1.project_list_title Selected Collaborations
                            span.under_title_text - project list
                    +project_item_reverse('#','.02','Some Collab','Y - 2015', 'Choreo', 'Kizaru')
                    +project_item_reverse('#','.01','Another Collab','Y - 2014', 'Choreo', 'Kizaru')
                .project_list_choreo
                    .wrapper
                        .title
                            h1.project_list_title Selected Choreographies
                            span.under_title_text - project list
                    +project_item('#','.04','Delay Kak Nado','Y - 2016', 'Choreo', 'Kizaru')
                    +project_item('https://vimeo.com/111230188','.03','Vse Moi Parni','Y - 2014', 'Choreo', 'Kizaru')
                    +project_item('https://vimeo.com/101261220','.02','Ne Lez Na Ugol','Y - 2014', 'Choreo', 'Kizaru')
                    +project_item('https://vimeo.com/98450544','.01','Ne Ostavlyayut Palcev','Y - 2014', 'Choreo', 'Kizaru')
                    
block js
    script(src="/javascripts/works.js")